@import "variables";
@import "mixin";
@import "extend";
@import "reset";
@import "header";
@import "inicio";
@import "main";
@import "Qsomos";
@import "tarjetas";
@import "tarjeta";
@import "catalogo";
@import "formularios";
@import "footer";





.navbar {
    grid-area: nav;
    background-color: $colorSecundario !important;
    a{
        color: aliceblue;
    }
    button{
        border-color: white;
        span{
        }
    }
  }




