.bodyCatalogo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 325px auto auto;
    grid-template-areas: "nav nav nav nav"
                            "header header header header"
                            "tarjetas tarjetas tarjetas tarjetas"
                            "footer footer footer footer";
} 
